name: Build and Push Docker Image

on:
  push:
    branches:
      - main
      - development

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Determine Docker tag
        id: docker-tag
        run: |
          if [ "${{ github.ref }}" = "refs/heads/main" ]; then
            echo "tag=latest" >> $GITHUB_OUTPUT
          elif [ "${{ github.ref }}" = "refs/heads/development" ]; then
            echo "tag=development" >> $GITHUB_OUTPUT
          fi

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: dylancotc/serveview:${{ steps.docker-tag.outputs.tag }}
          cache-from: type=registry,ref=dylancotc/serveview:${{ steps.docker-tag.outputs.tag }}
          cache-to: type=inline
          build-args: |
            CACHEBUST=${{ github.sha }}

      - name: Image digest
        run: echo "Image pushed with tag ${{ steps.docker-tag.outputs.tag }}"